<h3>Showing user :: <%= @user.email %> </h3>


<ul class="list-group list-group-flush">
        <li class="list-group-item">ID: <%= @user.id %></li>
        <li class="list-group-item">Email: <%= @user.email%></li>
        <li class="list-group-item">Created: at <%= @user.created_at%></li>
        <li class="list-group-item">Updated at: <%= @user.updated_at%></li>
        <li class="list-group-item">User object: <%= @user%></li>
    
</ul>


<h4>User Trackable info... </h4>
<ul>
<li class=" " >User sign count: <%= @user.sign_in_count %> </li>
<li class=" " >User sign current at: <%= @user.current_sign_in_at %>  </li>
<li class=" " >User signlast at: <%= @user.last_sign_in_at %> </li>
<li class=" " >User sign ip: <%= @user.current_sign_in_ip %> </li>
<li class=" " >User last sign <ip></ip>: <%= @user.last_sign_in_ip %> </li>
</ul>


